* {
  background-color: white;
}

.button-panel {
    background-color:   cyan;
    padding:            4px;
}

.button {
    background-color:   white;
    border:             1px solid black;
    user-select:        none;
    padding:            2px;
    margin:             2px;
}