* {
  background-color: black;
  color: white;
}

.tagSelector {
    flex-grow: 1;
}

.htmlContent {
    max-height: calc(100vh - 30px);
    overflow-y: scroll;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

button {
    border-radius: 25%;
    margin: 2px;
    color: green
}

.tagButton {
    background-color: rgb(229, 226, 226);
    color: green
}

.tagButton.selected {
    background-color: rgb(141, 230, 175) !important;
}

.topButtons {
    display: flex;
    flex-direction: row;
    height: 30px;
    align-items: center;
} 
